@import "tailwindcss";

@theme{
    --color-grayBlue:#0F172A;
    --color-yellow:#FACC15;
    --color-orange:#EA580C;
    --color-blue:#2563EB;
    --color-gray: #475569;
    --color-purple:#6B21A8;
    --color-purple-100:#F3E8FF;
    --color-blue-100:#DBEAFE;
    --color-green-100:#DCFCE7;
    --color-green:#166534;   
}

.swiper-pagination-bullet-custom {
    @apply w-2 h-2 rounded-full bg-white duration-200;
  }
  .swiper-pagination-bullet-custom-active {
    @apply w-8 bg-grayBlue;
  }